// Custom colors
$black:     black;
$light-blue:     #ff6f6f;
$light-orange:  #F08A5D;
$white:  rgb(255, 255, 255);

// Color overrides
$primary:       $black;
$secondary:     $white;
$info:          $light-blue;

//Body overrides
$body-bg:       $white;